.modal {
	
	
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	pointer-events: none;
	transition: 0.5s;
}

.modal.active {
	opacity: 1;
	pointer-events: all;
}

.modal__content {
	height: 100%;
	width: 100%;
	padding: 40px;
	background-repeat: 10px;
	background-color: white;
	height: 857px;
	width: 986px;
	transform: scale(0.5);
	transition: 0.4s all;
	display: grid;
	justify-content: center;
	justify-items: center;
	align-content: space-around;
	
	
	
}

.modal__content.active {
	transform: scale(1);
}