.search {
    width: 100%;
    height: 140px;
    background-color: #f7faff;
    margin-top: 54px;
    border: 0.15px solid gray;
    padding: 29px 34px 20px 34px;
    border-radius: 10px;
  }
  
  .search__form_input {
    width: 1042px;
    height: 73px;
    border: 0.3px solid gray;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 10px;
  }
  
  .search__form_submit {
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    width: 147px;
    height: 73px;
    background: #5444fc;
    margin-left: 20px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
    border-radius: 10px;
  }
  
  .search__form_submit:hover {
    background-color: #8799C6;
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
  }
  
  .goals {
    background: #f7faff;
    margin-top: 27px;
    width: 1325px;
    height: auto;
    padding: 57px 76px;
    border: 0.15px solid gray;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 10px;
  }
  
  .goals__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (300px)[auto-fit];
        grid-template-columns: repeat(auto-fit, 300px);
    -webkit-column-gap: 120px;
            column-gap: 120px;
    row-gap: 59px;
  }
  
  .goal__item {
    border: 0.15px solid gray;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 67px 1fr 47px;
        grid-template-rows: 67px 1fr 47px;
        grid-template-areas: "name" "update" "button";
    grid-auto-flow: row;
    padding: 40px 40px 45px 40px;
    border-radius: 10px;
    justify-items: center;
  }
  
  .goal__item_name {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: name;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
  }
  
  .goal__item_update {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: update;
  }
  
  .goal__item_update_title {
    font-size: 16px;
  }
  
  .goal__item_update_last {
    margin-top: 10px;
    font-size: 16px;
  }
  
  .goal__item_update_date {
    margin-top: 10px;
    color: #757373;
    font-size: 16px;
  }
  
  .goal__item_link {
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: button;
    width: 190px;
    height: 47px;
    margin-top: 20px;
    padding: 14px 0;
    background: #5444fc;
    line-height: 19px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    border-radius: 10px;
  }
  
  .goal__item_link:hover {
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    background: #8799C6;
  }